body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    text-align: center;
    padding: 20px;
}

#feature-selection {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.feature-button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 25px;
    margin: 10px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.feature-button:hover {
    background-color: #45a049;
}
