<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Feature - UnClock App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Select a Feature</h1>
    <div id="feature-selection">
        <a href="/world_clock" class="feature-button">World Clock</a>
        <a href="/stopwatch" class="feature-button">Stopwatch</a>
        <a href="/timer" class="feature-button">Timer</a>
        <a href="/alarm" class="feature-button">Alarm</a>
    </div>
</body>
</html>
